{% extends "main.html" %}

{% block center %}
right here should be the thing

<!-- Dropzone file upload -->
<script type="text/javascript" src="/js/dropzone.js"></script>

<!-- js customizations for this page -->
<script type="text/javascript" src="/js/user.js"></script>

<!-- dropzone css -->
<link rel="stylesheet" href="/css/dropzone.css">


<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">
        <div class="list-group">
          <!-- test list of all elements of user object -->
          <ul>
            <li class="list-group-item">test</li>
            {% for attribute in user %}
            <li class="list-group-item">{{ attribute }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  





<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="well">


        <!-- row for keeper tab navs -->
        <div class="row">
          <div class="col-lg-12">
            <div class="tabbable">
              <ul id="sections" class="nav nav-tabs">
                
                <!-- Keeper tabs, created programmatically
                   depending on how many keepers the user has -->

                {% for kid, attrib in keepers %}

                <li><a href="#keeper{{ kid }}" data-toggle="tab"><i class="icon-sword"></i> {{ attrib.name }}</a></li>
                {% endfor %}

              </ul><!-- end list (tabs) -->
            </div> <!-- /.tabbable -->
          </div>   <!-- /.col-lg-12 -->
        </div>     <!-- /.row -->


        <!-- keeper tab panes -->
        <div class="tab-content">

          {% for kid, keeper in keepers %}
          <div class="tab-pane" id="keeper{{ kid }}">

            <!-- image and QR row -->
            <div class="row">

              <!-- image display / image upload -->
              
              <div class="col-xs-6">
                {# display keeper image if one is uploaded for this keeper #}
                {% if keeper.image %}
                <img src="/uploads/{{ keeper.image }}" />
                {% endif %}

                {# dropzone form for keeper image upload #}
                <form id="keeper{{ kid }}-image" class="square stretch dropzone">
                  <div class="dz-message"><p>sup yall, upload an img</p></div>
                  <input type="hidden" name="pikachu" value="chuuuuu" />
                </form>
              </div>

              <!-- QR Code -->
              <div class="col-xs-6">
                <img src="/api/keeper/1/qr" alt="qr code" />
              </div>
            </div> <!-- /.row -->

            <!-- row containing name, stats, and bio -->
            <div class="row">
              <div class="col-lg-6">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>{{ keeper.name if keeper.name else "Snicklemorth Fredachai" }}</h2>
                  </div>
                </div>
                
                <div class="row">  <!-- stats row -->
                  <div class="col-xs-2">
                    <!-- XP -->
                    <h4>XP</h4>
                    <p>{{ keeper.xp }}</p>
                  </div>
                    
                  <div class="col-xs-2">
                    <!-- HP -->
                    <h4>HP</h4>
                  <p>{{ keeper.hp }}</p>
                  </div>
                  
                  <div class="col-xs-2">
                    <!-- Money -->
                    <h4>Money</h4>
                    <p>{{ keeper.money }}</p>
                  </div>
                </div>
              </div>
              
              <!-- Bio -->
              <div class="col-lg-6">
                <h4>Bio</h4>
                <p>This myth never ends. Soon there will be an unveiling of nature the likes of which the quantum soup has never seen. It is time to take life to the next level.</p>
                
                <p>Through the akashic record, our hearts are enveloped in wellbeing. You will soon be aligned by a power deep within yourself 
                </p>

              </div> <!-- /bio -->          
            </div>     <!-- end of row containing name, stats, and bio -->

          <!-- inventory row -->
          <div class="row" >
            
            <div class="col-lg-6">
              <h3>Inventory</h3>
              <p>hat</p>
              <p>spoon</p>
              <p>boots</p>
              
            </div>
          </div> <!-- /.row -->
          
        </div>   <!-- end of keeper tab -->

        {% endfor %}  <!-- end of keeper tab pane -->


      </div> <!-- end of .well -->
    </div>   <!-- end of .col-lg-12 -->
  </div>     <!-- end of .row -->
</div>       <!-- end of .container -->


{% endblock %}
